.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $padding-default;
  padding-right: $padding-default;
  margin-bottom: $margin-primary*5;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: $min-width) {
  .container {
    width: $base-width;
  }
}
@media (min-width: $base-min-width) {
  .container {
    width: $default-width;
  }
}
@media (min-width: $primary-min-width) {
  .container {
    width: $primary-width;
  }
}

.row {
  margin-left: -($margin-primary+5);
  margin-right: -($margin-primary+5);
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.active > ul {
  display: block !important;
  margin-bottom: 0px;
}

.col-md-3,.col-md-9 {
  position: relative;
  padding-right: $padding-default;
  padding-left: $padding-default;
}

@media (min-width: $screen-md-min) {
  .col-md-3 {
    width: 20%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: right;
  }
}