h1 Footer
.line
.bs-callout.bs-callout-info TAG<br> 
  code &lt;cfooter&gt;
.bs-callout.bs-callout-info 
  |ATTRIBUTE<br>
  code info
  |: It is used to connect your data. You can use three keys in data:
  ul
    li copyright [String]
    li version [String]
    li websites [Array&lt;Dict&gt;] link name -> key, link -> value
p.codepen(data-height="490" data-theme-id="20824" data-slug-hash="NGEYrJ" data-default-tab="result" data-user="dglzs")
  | See the Pen 
  a(href='http://codepen.io/dglzs/pen/NGEYrJ/') Footer Directive
  | by Leo Lin (
  a(href='http://codepen.io/dglzs') @dglzs
  | ) on 
  a(href='http://codepen.io') CodePen
  | .
script(async src="//assets.codepen.io/assets/embed/ei.js")
