h1 Table
.line
h3 OODLIB Table Directive demo
p
.bs-callout.bs-callout-info TAG<br>
  code &lt;ctable&gt;
.bs-callout.bs-callout-info
  |ATTRIBUTE: <br>
  code info
  |: It is used to connect your data.[Array&lt;Dict&gt;]<br>
  code cFields
  |: It is used to specify content brief. [Array]<br>
  code dFields
  |: It is used to specify content detail. [Array]<br>
  code numPerPage
  |: It is used to set row number in one page. [Number] <br>
  code titles
  |: It is used to set custom table title. [Object&lt;Dict&gt;]
p.codepen(data-height="490" data-theme-id="20824" data-slug-hash="WQYGrx" data-default-tab="result" data-user="PhoenixGrey")
 | See the Pen
 a(href='http://codepen.io/PhoenixGrey/pen/WQYGrx/') Table Directive
 | by Phoenix Grey (
 a(href='http://codepen.io/PhoenixGrey') @PhoenixGrey
 | ) on 
 a(href='http://codepen.io') CodePen
 | .
script(async src="//assets.codepen.io/assets/embed/ei.js")
