h1 Table
.line
h3 OODLIB Table Directive demo
p
.bs-callout.bs-callout-info TAG 
  code &lt;ctable&gt;
.bs-callout.bs-callout-info
  |ATTRIBUTE: <br>
  code info
  |: It is used to connect your data<br>
  code cFields
  |: It is used to specify content brief <br>
  code dFields
  |: It is used to specify content detail <br>
  code numPerPage
  |: It is used to set  per page <br>
  code titles
  |: 
p.codepen(data-height="490" data-theme-id="20824" data-slug-hash="WQYGrx" data-default-tab="result" data-user="PhoenixGrey")
 | See the Pen
 a(href='http://codepen.io/PhoenixGrey/pen/WQYGrx/') Table Directive
 | by Phoenix Grey (
 a(href='http://codepen.io/PhoenixGrey') @PhoenixGrey
 | ) on 
 a(href='http://codepen.io') CodePen
 | .
script(async src="//assets.codepen.io/assets/embed/ei.js")
