doctype html
html(lang='en')
  head
    title OODLIB Demo
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='main.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel='stylesheet' href='scripts/docs.min.css')
    
  body(data-spy='scroll', data-target='#scrollspy', data-offset='20')
    header
      .smaIcon
        img(src="")
        p.smaName OOD Omega
        p.smaDescribe 
          |Object-Oriented-Design Encapsulation of Directive 
          <br>in AngularJS 1.x
          <br>Bridge to Angular 2 Component
    .container
      .row
        nav.col-md-3#scrollspy
          ul.nav.pills.hidden-xs.hidden-sm(data-spy="affix")
            li.active
              a(href='#cfooter') Footer
            li
              a(href='#ctable') Table
            li
              a(href='#Csidebar') Sidebar
              
            .modal-footer
              //- .line
              p
                span Copyright 2015 © Trantect
              p
                span Designed by 
                  a(href='https://github.com/emily123/smaless') Smaless 
              //-  p
              //-   a(href='https://github.com/PhoenixGrey/OODLIB') Visit our Github
              //-  p
              //-     a(href='#') Back to top
                    //-  img.gh-ico(src="src/lib/images/download.png")
          
        //- include part
        .col-md-9
        
          #cfooter
            include jade/footer

          #ctable
            include jade/table

          //- #csidebar
          //-   include jade/sidebar


    script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
    script(type='text/javascript' src='main.js')
