@import "variables";
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #3e4451;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size -4;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}
h1 {
  padding-top: $padding-default;
  padding-bottom: 9px;
  font-size: $font-size*2;
  margin: 0;
}
h3 {
  font-size: $font-size+6;
  padding-top: $padding-default+5;
  padding-bottom: $padding-default - 5;
  margin: 0;
}
h1,h3 {
  color: $base;
}
p {
  color: $base;
  margin: 0 0 $margin-primary;
  font-size: $font-size - 4;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
}
th {
  text-align: left;
}
ul ,ol {
  margin-top: 0;
}
ul {
  display: block;
  list-style-type: disc;
}
dl {
  margin: 0;
  padding: $padding-default - 7;
}
dt {
  float: left;
  text-align: right;
  margin-right: $margin-primary - 2;
  width: $height-default;
}
dt, dd {
  line-height: 1.42857;
}